.chart{
    flex: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
color: gray;

.title{
    margin-top: 5px;
    margin-bottom: 15px;


}
.chartGrid{
    stroke: rgb(228, 255, 225);
}
}